/** IBM Plex Font
 * Source: https://github.com/IBM/plex
 * Subset: English-Spanish-Catalan
*/

/* Mono Bold */
@font-face {
  font-family: 'IBM Plex Mono';
  src: url('mono/ibm-plex-mono-bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* Mono Bold Italic */
@font-face {
  font-family: 'IBM Plex Mono';
  src: url('mono/ibm-plex-mono-bold-italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

/* Mono Italic */
@font-face {
  font-family: 'IBM Plex Mono';
  src: url('mono/ibm-plex-mono-italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

/* Mono Regular */
@font-face {
  font-family: 'IBM Plex Mono';
  src: url('mono/ibm-plex-mono-regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/* Sans Bold */
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('sans/ibm-plex-sans-bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* Sans Bold Italic */
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('sans/ibm-plex-sans-bold-italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

/* Sans Italic */
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('sans/ibm-plex-sans-italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

/* Sans Regular */
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('sans/ibm-plex-sans-regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/* Serif Bold */
@font-face {
  font-family: 'IBM Plex Serif';
  src: url('serif/ibm-plex-serif-bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* Serif Bold Italic */
@font-face {
  font-family: 'IBM Plex Serif';
  src: url('serif/ibm-plex-serif-bold-italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}