/* Import font families from "fonts" folder */
@import '../fonts/ibm-plex.css';

:root {
  /* Font management */
  /* Use Sans subfamily by default */
  font-family: 'IBM Plex Sans', sans-serif;
  font-synthesis: none;
  font-size: 20px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  /* Box sizes will include border and paddings */
  box-sizing: border-box;

  /* Center content to improve legibility */
  --max-width: 75ch;
  max-width: var(--max-width);
  margin: auto;
}

/* Use Serif subfamily on headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Serif', serif;
}

/* Use Mono subfamily on HTML tags that use Mono by default */
pre, code {
  font-family: 'IBM Plex Mono', monospace;
}

/* Inherit box sizing to allow rollbacks on any specific section */
*, *::before, *::after {
  box-sizing: inherit;
}

/* Text and background color will only apply on screens. If the user print this
site, then this styles get disabled */
@media screen {
  :root {
    /* Custom colors for black and white */
    --black: #333;
    --white: #f5f5f5;

    /* By default, this website will be in Dark Mode */
    color: var(--white);
    background-color: var(--black);
  }

  /* Contrast Ratio source: https://webaim.org/resources/contrastchecker/
   * - It depends on #333 as `background-color`.
  */
  a:link {
    /* Default color with 7.1 of Contrast Ratio */
    color: #FFB224;
  }

  a:visited {
    /* Visited color with 5.05 of Contrast Ratio. */
    color: coral;
  }

  a:active {
    /* Color applied when clicking with 8.27 of Contrast Ratio. */
    color: lightblue;
  }

  @media (prefers-color-scheme: light) {
    :root {
      /* Palette of colors in Light Mode swaps Text and Background colors */
      color: var(--black);
      background-color: var(--white);
    }

    /* Select link colors mirror the default Firefox ones,
     * tailored for contrast with the background color #f5f5f5. */
    a:link {
      /* Default color with 7.04 of Contrast Ratio */
      color: #0052A3;
    }
  
    a:visited {
      /* Visited color with 7.11 of Contrast Ratio. */
      color: #7324BC;
    }
  
    a:active {
      /* Active color with 7.23 of Contrast Ratio. */
      color: #a80000;
    }
  }

  /* Styles applied to the footer */
  @supports (display: grid) and (position: absolute) {
    footer {
      /* Display a simple shadow to separate footer visually */
      box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);

      /* Leave space depending on the font size */
      margin-top: 2em;

      /* Expand footer on both sides to display the shadow correctly */
      position: absolute;
      left: 0;
      right: 0;
    }
    
    footer > * {
      /* Center content like the body text */
      max-width: var(--max-width);
      margin: auto;
    }

    /* Place children in columns that will stretch to fit the available space.*/
    footer > div {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    /* Copyright section will be centered and have some space on top depending
    on the font size */
    footer > aside {
      padding-top: 1em;
      margin-top: 2em;
      text-align: center;
    }

    /* Display a line on top of Copyright section which color depends on the
    preferred color schema */
    footer > aside::before {
      content: "";
      display: block;
      border-top: 1px solid;
    }
  }
}
