/* Import font families from "fonts" folder */
@import '../fonts/ibm-plex.css';

:root {
  /* Font management */
  /* Use Sans subfamily by default */
  font-family: 'IBM Plex Sans', sans-serif;
  font-synthesis: none;
  font-size: 20px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  /* Box sizes will include border and paddings */
  box-sizing: border-box;

  /* Center content to improve legibility */
  max-width: 75ch;
  margin: auto;
}

/* Use Serif subfamily on headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Serif', serif;
}

/* Use Mono subfamily on HTML tags that use Mono by default */
pre, code {
  font-family: 'IBM Plex Mono', monospace;
}

/* Inherit box sizing to allow rollbacks on any specific section */
*, *::before, *::after {
  box-sizing: inherit;
}
