/* Import font families from "fonts" folder */
@import '../fonts/ibm-plex.css';

:root {
  /* Font management */
  /* Use Sans subfamily by default */
  font-family: 'IBM Plex Sans', sans-serif;
  font-synthesis: none;
  font-size: 20px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  /* Box sizes will include border and paddings */
  box-sizing: border-box;

  /* Center content to improve legibility */
  --max-width: 75ch;
  max-width: var(--max-width);
  margin: auto;
}

/* Use Serif subfamily on headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Serif', serif;
}

/* Use Mono subfamily on HTML tags that use Mono by default */
pre, code {
  font-family: 'IBM Plex Mono', monospace;
}

/* Inherit box sizing to allow rollbacks on any specific section */
*, *::before, *::after {
  box-sizing: inherit;
}

/* Text and background color will only apply on screens. If the user print this
site, then this styles get disabled */
@media screen {
  :root {
    /* Palette of Colors */
    --black: #333;
    --white: #f5f5f5;

    /* By default, this website will be in Dark Mode */
    color: var(--white);
    background-color: var(--black);

    /* Contrast Ratio source: https://webaim.org/resources/contrastchecker/
     * - Values calculated with var(--black) as `background-color`.
    */
    --primary: #FFB224;    /* 7.1 */
    --secondary: coral;    /* 5.05 */
    --tertiary: lightblue; /* 8.27 */
  }

  /* Colors applied to anchors depending on their states */
  a:link {
    color: var(--primary);
  }
  a:visited {
    color: var(--secondary);
  }
  a:active {
    color: var(--tertiary);
  }

  @media (prefers-color-scheme: light) {
    :root {
      /* Palette of colors in Light Mode swaps Text and Background colors */
      color: var(--black);
      background-color: var(--white);
    }

    /* Select link colors mirror the default ones,
     * tailored for contrast with the background color var(--white). */
    a:link {
      color: #0052A3; /* 7.04 */
    }
    a:visited {
      color: #7324BC; /* 7.11 */
    }
    a:active {
      color: #a80000; /* 7.23 */
    }
  }

  /* Styles applied to the footer */
  @supports (display: grid) and (position: absolute) {
    footer {
      /* Display a simple shadow to separate footer visually */
      box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);

      /* Leave space depending on the font size */
      margin-top: 2em;

      /* Expand footer on both sides to display the shadow correctly */
      position: absolute;
      left: 0;
      right: 0;
    }
    
    footer > * {
      /* Center content like the body text */
      max-width: var(--max-width);
      margin: auto;
    }

    /* Place children in columns that will stretch to fit the available space.*/
    footer > div {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    /* Copyright section will be centered */
    footer > aside {
      text-align: center;
    }

    /* Display a line on top of Copyright section which color depends on the
    preferred color schema. Also specify margin to separate it. */
    footer > aside::before {
      content: "";
      display: block;
      border-top: 1px solid;
      margin: 2em 0 1em;
    }
  }
}
