@supports (display: flex) and (position: absolute) {
  /* Hide nav on small devices */
  body > nav {
    display: none;
  }

  /* Center personal brand trademark on mobile */
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Styles related to nav applied on bigger screens */
  @media screen and (min-width: 1100px) {
    body {
      /* Leave space on the top for the nav
       * I know that this is not the best idea but I can't place nav on the top
       * using grid or flex because I couldn't control nav's width.
       * If you know how to achieve that, please open an issue on github here:
       * - https://github.com/pabcrudel/pabcrudel.github.io/issues
      */
      margin-top: 100px;
    }

    body > nav {
      /* Display nav on bigger devices */
      display: block;

      /* Move nav to the top of the page by css */
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      /* Display a simple shadow to separate nav visually */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    body > nav ul {
      /* Center content */
      max-width: 1100px;
      padding: 1em;
      margin: auto;

      /* Remove bullet points */
      list-style: none;

      /* Place items in the same row leaving space between them */
      display: flex;
      justify-content: space-between;
    }
  }

  /* Styles related to header applied on bigger screens */
  @media screen and (min-width: 700px) {
    /* Override mobile flex rules */
    body > header {
      /* Display header children in rows */
      flex-direction: row;
      gap: 1em;
    }
  }

  /* Styles applied to the footer */
  footer {
    /* Display a simple shadow to separate footer visually */
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);

    /* Leave space depending on the font size */
    margin-top: 2em;
    padding: 0 .5em;

    /* Expand footer on both sides to display the shadow correctly */
    position: absolute;
    left: 0;
    right: 0;
  }

  footer > * {
    /* Center content like the body text */
    max-width: var(--max-width);
    margin: auto;
  }

  /* Place children in columns that will stretch to fit the available space.*/
  footer > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  /* Copyright section will be centered */
  footer > aside {
    text-align: center;
  }

  /* Display a line on top of Copyright section which color depends on the
  preferred color schema. Also specify margin to separate it. */
  footer > aside::before {
    content: "";
    display: block;
    border-top: 1px solid;
    margin: 2em 0 1em;
  }
}