---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title={"Oops, There's nothing here"}>
  <main>
    <h1>404</h1>

    <section>
      <h2>Oops, there's nothing here (yet)</h2>

      <p>Why don't you take a look at something that actually exists</p>

      <nav>
        <ul>
          <li><a href="/">My portfolio</a></li>
          <li>
            <a href="/fire-spotter" title="See Fire Spotter in Action"
              >NASA SpaceApps winner: FireSpotter</a
            >
          </li>
        </ul>
      </nav>
    </section>
  </main>
</BaseLayout>
