---
import { getCollection } from "astro:content";

const socialLinks = await getCollection("socialMediaLink");

const repository = "pablocru.github.io";
const githubUrl = "https://github.com/pablocru/" + repository;
---

<footer>
  <div>
    <section id="social-links">
      <h3>Social media links</h3>
      <nav>
        <ul>
          {
            socialLinks.map(({ data: { url, network } }) => (
              <li>
                <a href={url}>{network}</a>
              </li>
            ))
          }
        </ul>
      </nav>
    </section>
    <section id="report-issue">
      <h3>Report an Issue</h3>
      <p>
        If you found a bug or have a suggestion, please <a
          href={`${githubUrl}/issues`}
          title="Suggest me a change by creating an issue"
          >open an issue on GitHub</a
        >.
      </p>
    </section>
  </div>
  <aside id="copyright">
    <p>&copy; Copyright <time datetime="2023">2023</time> Pablo Cru.</p>
    <p>
      Source code is licensed under <a
        href={`${githubUrl}/blob/main/LICENSE`}
        title="Take a look at the permissions, limitations and conditions"
        >MIT License</a
      >.
    </p>

    {
      /*
      I use https://chooser-beta.creativecommons.org/ as a license chooser
      and they bring to me this code
      */
    }
    <p>
      <span property="dct:title">This site content</span> is licensed under <a
        href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1"
        target="_blank"
        rel="license noopener noreferrer"
        style="display:inline-block;"
        >CC BY 4.0<img
          style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
          alt=""
          src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"
        /><img
          style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
          alt=""
          src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"
        /></a
      >
    </p>
  </aside>
</footer>

<style>
  @supports (display: flex) and (position: absolute) {
    /* Styles applied to the footer */
    footer {
      /* Display a simple shadow to separate footer visually */
      box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);

      /* Leave space depending on the font size */
      margin-top: 2em;
      padding: 1em 0.5em 0;

      /* Expand footer on both sides to display the shadow correctly */
      position: absolute;
      left: 0;
      right: 0;
    }

    footer > * {
      /* Center content like the body text */
      max-width: var(--max-width);
      margin: auto;
    }

    /* Place children in columns that will stretch to fit the available space.*/
    footer > div {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    /* Copyright section will be centered */
    footer > aside {
      text-align: center;
    }

    /*
    Display a line on top of Copyright section which color depends on the
    preferred color schema. Also specify margin to separate it.
    */
    footer > aside::before {
      content: "";
      display: block;
      border-top: 1px solid;
      margin: 2em 0 1em;
    }
  }
</style>
