---
import GitHub from "./icons/GitHub.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import Rocket from "./icons/Rocket.astro";
import type { HTMLAttributes } from "astro/types";
import Website from "./icons/Website.astro";

interface Props extends HTMLAttributes<"a"> {
  iconName: string;
  anchorText?: string;
}

const {
  iconName,
  anchorText = iconName,
  class: className,
  ...props
} = Astro.props;
---

<a class:list={[className]} {...props}
  >{
    iconName === "GitHub" ? (
      <GitHub />
    ) : iconName === "LinkedIn" ? (
      <LinkedIn />
    ) : iconName === "Rocket" ? (
      <Rocket />
    ) : iconName === "Website" ? (
      <Website />
    ) : (
      ""
    )
  }<span>{anchorText}</span></a
>

<style>
  a {
    /* Remove default anchor styles */
    color: var(--color);
    text-decoration: none;

    /* Add button appearance */
    display: inline-block;
    padding: 0.3em 0.5em 0.5em;
    border: 1px solid;
    border-radius: 8px;
  }

  a > * {
    /* Align the Logo with the text */
    vertical-align: middle;
  }

  a svg {
    /* Leave space between the Logo and the text */
    margin-right: 0.4em;
  }
</style>
