---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  iconName: string;
  anchorText?: string;
}

const {
  iconName,
  anchorText = iconName,
  class: className,
  ...props
} = Astro.props;

async function getIcon(iconName: string) {
  const icons = await Astro.glob("@components/icons/*.astro");
  const icon = icons.find((icon) => icon.file.includes(iconName));
  if (!icon) throw new Error(`${iconName}.astro doesn't exists`);
  return icon;
}
const icon = await getIcon(iconName);
---

<a class:list={[className]} {...props}
  >{(<icon.default />)}<span>{anchorText}</span></a
>

<style>
  a {
    /* Remove default anchor styles */
    color: var(--color);
    text-decoration: none;

    /* Add button appearance */
    display: inline-block;
    padding: 0.3em 0.5em 0.5em;
    border: 1px solid;
    border-radius: 8px;
  }

  a > * {
    /* Align the Logo with the text */
    vertical-align: middle;
  }

  a svg {
    /* Leave space between the Logo and the text */
    margin-right: 0.4em;
  }
</style>
