---
import Favicon from "@components/Favicon.astro";
import GlobalStyle from "@components/GlobalStyle.astro";
import SeoMetaTags from "@components/SeoMetaTags.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <SeoMetaTags {...Astro.props}/>
    <Favicon/>
    <GlobalStyle/>
  </head>
  <body>
    <slot/>
  </body>
</html>
